exportPattern("^[[:alpha:]]+")
export(curereg,
       print.curereg,
       summary.curereg,
       coef.curereg,
       logLik.curereg,
       vcov.curereg,
       predict.curereg,
       plot.curereg,
       lines.curereg,
       curefraction,
       dmoeev,
       pmoeev,
       qmoeev,
       rmoeev)

S3method(print,curereg)
S3method(coef, curereg)
S3method(summary, curereg)
S3method(logLik, curereg)
S3method(vcov, curereg)
S3method(plot, curereg)
S3method(lines, curereg)

import(flexsurv)
import(ggplot2)
